
/* -dominant-color: #jjjjj */

h1 {
  color: white;
  font-size: 40px;
  text-align: center;
  background-color: rgb(12, 36, 71);
}


.form {
  background-color: rgb(12, 36, 71);
    padding: 100px;
    text-align: right;
    margin: auto;
    display: table;
    border-radius: 15px;
}
.input {
  border-radius: 15px;
  box-shadow: 0px;
}


.container input {
  width: 100px;
  align-self: stretch;
}
.centerbuttons {
  color: white;
  text-align: center;
  border-radius: 10px;
  /* background-color: #AAA; */
}
a, a:visited {
  text-decoration: none;
}
a:hover, a:active, a:focus {
  color:#c33;
}
body {
  font-size: 20px;
  /* Setting backgorund image */
  background-image: url('images/softGreen.jpg');
  /* Keep it from repeating */
  background-repeat: no-repeat;
  /* stretch to fit screen */
  background-size: cover;
}
form {
  color: white;
  text-align: center;
}